.col-11{
    /* border: 1px solid black; */
}
.item{
    /* border: 2px solid pink; */
}
*{
    margin:0;
    padding:0;
    overflow: hidden;
}
.item img{
    /* width: 100%;
    height: 200px; */
    width: 400px;
    height: 300px;
}
.container{
    margin: auto !important;
}